from Option import OptionNone, Option
from pydantic import BaseModel, constr, conint, confloat
from typing import Optional

{%- for imp in imports %}
{{ imp }}
{%- endfor %}


class {{ name }}({% if baseclass is not none %}{{ baseclass }}{% else %}BaseModel{% endif %}):
    {%- for prop in properties %}
    {{ prop }}
    {%- endfor %}

